*{
        box-sizing: border-box;
}

.HeaderBG {
    height: 80px;
    width: 100%;
    background-color: white;

    position: relative;
    z-index: 3;
}

.HeaderContainer {
    padding: 0px calc(-492px + 50vw);
    height: 80px;
    background: var(--gray-white);
    border-bottom: 1px solid var(--gray-75);

    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.Logo {
    min-width: 162px;
    height: 48px;
    display: flex;
}

.Logo img{
    height: 48px;
    width: 118px;
    overflow: clip;
}

.relative{
    position: relative !important;
}

.Location{
    z-index: 1;
    color: var(--gray-700);
}

.LocationInput{
    /* .kVhcLF:placeholder-shown */
    text-overflow: ellipsis;

    /* .fyvtzI input */
    max-width: 180px;
    background-color: var(--gray-75);
    border: none;

    /* .dXyAJL input */
    height: 36px;
    width: 100%;
    box-shadow: unset;

    /* .kVhcLF */
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transition: 0.5s 
    cubic-bezier(0.22, 1.19, 0.22, 0.95);
    outline: none;
    border-radius: 8px;
    padding: 12px 44px;
    color: var(--gray-700);
    caret-color: var(--primary-600);

    /* .font-highlight */
    font-family: "DB Heavent Now", sans-serif;

    /* input */
    font: inherit;
    margin: 0;
}

.LocationIconWraper{
    position: absolute;
    left: 0px;
    padding: 0px 8px 0px 12px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transform: translateY(-50%);
    top: 50%;
    color: var(--gray-500);
}

.DropdownIconWraper{
    position: absolute;
    right: 0px;
    padding: 0px 12px 0px 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transform: translateY(-50%);
    top: 50%;
    color: var(--gray-500);


}

.DropdownIconWraper svg, .LocationIconWraper svg{
    width: 24px !important;
    height: 24px !important;
}

.HeaderLeft{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.SerachBoxContainer{
    display: inline-block;
    margin-left: 8px;
    z-index: 1;
    width: 315px;
}

.SerachBoxContainer{
    display: inline-block;
    margin-left: 8px;
    z-index: 1;
    width: 315px;
}

.SearchForm{
    width: 100%;
    display: flex;
    position: relative !important;
}

.SearchInput{
    font-size: 16px;
    color: var(--gray-300);
    text-overflow: ellipsis;
    background: var(--gray-75);
    height: 36px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    position: relative;
    padding: 4px 8px 4px 60px;
    caret-color: var(--primary-600);
    width: 100%;
    padding-left: 12px !important;
    font-family: "DB Heavent Now", sans-serif;
}

.SearchSummit{
        border-radius: 0px 8px 8px 0px;
        display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s 
    cubic-bezier(0.22, 1.19, 0.22, 0.95);
    font-family: "DB Heavent Now", sans-serif;
    -webkit-tap-highlight-color: transparent;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 12px;
    height: 36px;
    background-color: var(--primary-600);
    color: var(--gray-white);
    text-transform: none;
    overflow: visible;
}

.LoginContainer{
    position: relative;
    flex: 1 1 0%;
    display: flex;
    padding-left: 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.LoginBlock{
    width: fit-content;
    z-index: 4;

    display: flex;
    position: relative;
}

.LoginButton{
    color: currentcolor;
    text-decoration: none;
}

.LoginButton button{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    border-radius: 20px;
    border: 1px solid var(--gray-100);
    padding: 0px 4px;

    word-break: initial;
    font-family: "DB Heavent Now", sans-serif;
    font-size: 16px;
    height: 40px;
    width: auto;
    -webkit-box-pack: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: var(--gray-850);
    background: transparent;

        font: inherit;
}

.LoginDropDownButton{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    border-radius: 50%;
    border: 1px solid var(--gray-100);
    width: 40px;
    padding: 0px;
    margin-left: 8px;

    word-break: initial;
    font-family: "DB Heavent Now", sans-serif;
    font-size: 16px;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;

    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: var(--gray-850);
    background: transparent;
}

.DropDownWraper{
    padding-left: 1px;
    padding-top: 1px;

        box-sizing: border-box;
}

.HeaderRight{
    position: relative;
    flex: 1 1 0%;
    display: flex;
    padding-left: 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}


