* {
    box-sizing: border-box;
}

.HeaderBG {
    height: 80px;
    width: 100%;
    background-color: white;

    position: relative;
    z-index: 3;
}

.HeaderContainer {
    padding: 0px calc(-492px + 50vw);
    height: 80px;
    background: var(--gray-white);
    border-bottom: 1px solid var(--gray-75);

    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.Logo {
    min-width: 162px;
    height: 48px;
    display: flex;
}

.Logo img {
    height: 48px;
    width: 118px;
    overflow: clip;
}

.relative {
    position: relative !important;
}

.Location {
    z-index: 1;
    color: var(--gray-700);
}

.LocationInput {
    /* .kVhcLF:placeholder-shown */
    text-overflow: ellipsis;

    /* .fyvtzI input */
    max-width: 180px;
    background-color: var(--gray-75);
    border: none;

    /* .dXyAJL input */
    height: 36px;
    width: 100%;
    box-shadow: unset;

    /* .kVhcLF */
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transition: 0.5s cubic-bezier(0.22, 1.19, 0.22, 0.95);
    outline: none;
    border-radius: 8px;
    padding: 12px 44px;
    color: var(--gray-700);
    caret-color: var(--primary-600);

    /* .font-highlight */
    font-family: "DB Heavent Now", sans-serif;

    /* input */
    font: inherit;
    margin: 0;
}

.LocationIconWraper {
    position: absolute;
    left: 0px;
    padding: 0px 8px 0px 12px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transform: translateY(-50%);
    top: 50%;
    color: var(--gray-500);
}

.DropdownIconWraper {
    position: absolute;
    right: 0px;
    padding: 0px 12px 0px 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transform: translateY(-50%);
    top: 50%;
    color: var(--gray-500);


}

.DropdownIconWraper svg,
.LocationIconWraper svg {
    width: 24px !important;
    height: 24px !important;
}

.HeaderLeft {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.SerachBoxContainer {
    display: inline-block;
    margin-left: 8px;
    z-index: 1;
    width: 315px;
}

.SerachBoxContainer {
    display: inline-block;
    margin-left: 8px;
    z-index: 1;
    width: 315px;
}

.SearchForm {
    width: 100%;
    display: flex;
    position: relative !important;
}

.SearchInput {
    font-size: 16px;
    color: var(--gray-300);
    text-overflow: ellipsis;
    background: var(--gray-75);
    height: 36px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    position: relative;
    padding: 4px 8px 4px 60px;
    caret-color: var(--primary-600);
    width: 100%;
    padding-left: 12px !important;
    font-family: "DB Heavent Now", sans-serif;
}

.SearchSummit {
    border-radius: 0px 8px 8px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s cubic-bezier(0.22, 1.19, 0.22, 0.95);
    font-family: "DB Heavent Now", sans-serif;
    -webkit-tap-highlight-color: transparent;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 12px;
    height: 36px;
    background-color: var(--primary-600);
    color: var(--gray-white);
    text-transform: none;
    overflow: visible;
}

.LoginContainer {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    padding-left: 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.LoginBlock {
    width: fit-content;
    z-index: 4;

    display: flex;
    position: relative;
}

.LoginButton {
    color: currentcolor;
    text-decoration: none;
}

.LoginButton button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    border-radius: 20px;
    border: 1px solid var(--gray-100);
    padding: 0px 4px;

    word-break: initial;
    font-family: "DB Heavent Now", sans-serif;
    font-size: 16px;
    height: 40px;
    width: auto;
    -webkit-box-pack: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: var(--gray-850);
    background: transparent;

    font: inherit;
}

.LoginButton span {
    max-width: 90px;

    margin: 0px 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: "DB Heavent Now", sans-serif;
    color: var(--gray-850);
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.LoginDropDownButton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: content-box;
    border-radius: 50%;
    border: 1px solid var(--gray-100);
    width: 40px;
    padding: 0px;
    margin-left: 8px;

    word-break: initial;
    font-family: "DB Heavent Now", sans-serif;
    font-size: 16px;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;

    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: var(--gray-850);
    background: transparent;
}

.DropDownWraper {
    padding-left: 1px;
    padding-top: 1px;

    box-sizing: border-box;
}

.HeaderRight {
    position: relative;
    flex: 1 1 0%;
    display: flex;
    padding-left: 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.tempBlock {
    background-color: var(--gray-white) !important;

    top: 100%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.SearchBoxDropDownContainer {

    /* visibility: hidden;
    opacity: 0; */
    transition: visibility 0s ease-out .25s, opacity .25s ease-out;

    position: absolute;
    max-width: calc(100% - 48px);
    width: 100%;
    top: 40px;
    background: var(--gray-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.SearchBoxDropBoxContent {
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    padding: 16px;
    cursor: pointer;
}

.SearchBoxDropBoxContent div {
    flex: 1 1 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 700;
    color: var(--gray-500);
}

.SearchBoxDropBoxContent span {
    flex: 0 0 auto;
    margin-right: 8px;
    vertical-align: middle;

    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    width: 24px;
    height: 24px;
}

.LoginDropDownWraper {
    position: absolute;
}

.LoginDropDownWraper {
    margin-top: 50px;
    animation: 0.25s ease 0s 1 normal none running fadeIn;
    overflow: auto;

    position: absolute;
    background-color: var(--gray-white);
    border: 1px solid var(--gray-100);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px, rgba(0, 0, 0, 0.16) 0px 8px 16px;
    width: 360px;
    right: 0px;
}

.LoginDropDownContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: unset;
    overflow: auto;
}

.LoginDropDown-LoginButton {
    padding-bottom: 8px !important;
    padding: 16px !important;
}

.LoginDropDown-LoginButton a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s cubic-bezier(0.22, 1.19, 0.22, 0.95);
    font-family: "DB Heavent Now", sans-serif;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 8px 12px;
    height: 44px;
    background-color: var(--primary-600);
    color: var(--gray-white);
    text-decoration: none;
}

.LoginDropDownSectionLine {
    border-top: 1px solid var(--gray-100);
    margin: 8px 0px;
    width: 100%;
}

.LoginDropDownOption {
    padding: 8px 0px;
    font-family: "DB Heavent Now", sans-serif;
    color: var(--gray-850);
}

.LoginDropDownOptionContent {
    text-decoration: none;
    color: var(--gray-850) !important;
}

.LoginDropDownOptionContent>div {
    height: 32px;
    cursor: pointer;

    display: flex;
    padding: 0px 12px;
    -webkit-box-align: center;
    align-items: center;
}

.LoginDropDownOptionContent>div> :not(:last-child) {
    margin-right: 12px;
}

.LoginDropDownOptionIcon {
    width: 24px;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.LoginDropDownOptionText {
    font-size: 14px;
    line-height: 20px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.LocationDropdownWraper {
    position: absolute;
    background-color: var(--gray-white);
    border-radius: 4px;
    width: 455px;
    z-index: 1;
    border: 1px solid var(--gray-100);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    top: 76px;
}

.LocationDropdownArrow {
    position: absolute;
    line-height: 0;
    top: -9px;
    left: 42px;
}

.LocationDropdownArrow svg {
    color: var(--gray-white);
}

.LocationDropdownContentContainer {
    overflow: auto;
}

.LocationDropdownSliderContainer {
    padding: 12px 12px 0px;
}

.LocationDropdownSliderTitle {
    font-family: "DB Heavent Now", sans-serif;
    font-size: 16px;
    color: var(--gray-850);
    margin-bottom: 12px;
}

.LocationDropdownBannerTab {
    outline: none;
}

.LocationDropdownBannerTab>div {
    height: 100%;
}

.LocationDropdownBannerTab a {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 115px;
    height: 154px;
    border-radius: 4px;
    padding: 8px;

    color: var(--gray-700);
    cursor: pointer;

    text-decoration: none;
}

.LocationSliderText {
    display: flex;
    word-break: break-word;
    white-space: pre-line;
    flex-wrap: wrap;
    height: fit-content;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
}

.LocationSliderText span {
    font-size: 14px;
    font-weight: normal;
    font-family: "DB Heavent Now", sans-serif;
    line-height: 16px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;


    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.35) 0px 0px 2px;
}

.LocationDropdownSliderContainer .slick-list {
    display: flex;
}

.LocationDropdownSliderContainer .slick-track {
    margin: inherit;
    display: flex;
}

.LocationDropdownSliderContainer .slick-slide {
    width: 100% !important;

    padding: 0px calc(2px);
    display: block;

    float: left;
    height: 100%;
    min-height: 1px;
}

.LocationDropdown-NearMe {
    display: flex;
    align-items: flex-end;
    padding: 12px;
    border-top: 1px solid var(--gray-100);
    border-bottom: 1px solid var(--gray-100);
    margin-top: 12px;
    cursor: pointer;
}

.LocationDropdown-NearMe svg {
    color: var(--gray-700);
    width: 18px !important;
    height: 18px !important;
}

.LocationDropdown-NearMe span {
    font-family: "DB Heavent Now", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-850);
    margin-left: 2px;
}

.LocationDropdown-provincesContainer {
    height: 280px;
}

.LocationDropdown-provincesContainer div {
    font-size: 16px;
    font-family: "DB Heavent Now", sans-serif;
    color: var(--gray-850);
    padding: 12px;
    border-bottom: 1px solid var(--gray-100);
    cursor: pointer;
}

.LocationDropdownNavtab {
    margin: unset;
    height: unset;
    background: var(--gray-white);
    box-sizing: border-box;
}

.LocationDropdownNavtab ul {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    margin-top: 2px;
}

.LocationDropdownSelected {
    flex: 0 0 0px;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    font-family: "DB Heavent Now", sans-serif;
    font-size: 16px;
    padding: 12px;
    color: var(--blue-700);
    font-weight: bold;
    border-bottom: 2px solid var(--blue-700);
}

.LocationDropdownNotSelected {
    flex: 0 0 0px;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    font-family: "DB Heavent Now", sans-serif;
    font-size: 16px;
    padding: 12px;
    border-bottom: 1px solid var(--gray-100);
    color: var(--gray-500);

}