*{
        box-sizing: border-box;
}

.HeaderBG {
    height: 80px;
    width: 100%;
    background-color: white;
}

.HeaderContainer {
    padding: 0px calc(-492px + 50vw);

    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    height: 80px;
    width: 100%;

    background-color: black;
}

.Logo {
    min-width: 162px;
    height: 48px;
    display: flex;
}

.Logo img{
    height: 48px;
    width: 118px;
    overflow: clip;
}