.PageContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;

    display: grid;
    grid-template-columns: 1fr 80%;
    gap: 16px;
}

.RestaurantContainer{
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 16px;
}