.PageContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;

    display: grid;
    grid-template-columns: 1fr 80%;
    gap: 16px;
}

.RestaurantContainer {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 16px;
}

.RestaurantContainer> :not(:last-child) {
    margin-bottom: 16px;
}

.Restaurant-Link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.Restaurant-block> :not(:last-child) {
    margin-bottom: 12px;
}

.Restaurant-ImageContainer-Padding {
    margin: 0px -16px;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.Restaurant-ImageContainer {
    display: flex;
    gap: 4px;
}

.Restaurant-ImageContainer :last-child div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.Restaurant-ToGallery {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 99.48%);

    color: currentcolor;
    text-decoration: none;
}

.Restaurant-ToGallery span {
    transform: translateY(50%);
    margin-bottom: 15%;

    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.35) 0px 0px 2px;
}

.ImgBlock {
    min-width: calc(20% - 3.2px);
    color: var(--gray-850);
    /* box-shadow: 0 0 0 2px var(--blue-400); */
    border-radius: 2px;
    outline-offset: -2px;
    text-decoration: underline;
    outline: none !important;
    min-width: calc(20% - 3.2px);
    position: relative !important;

    /* temporary add it, will try to learn how to crop the img later */
    width: 107px;
    height: 107px;

}

.ImgBlock img {

    border-radius: 8px;
    border: 1px solid var(--gray-75);
    pointer-events: none;

    display: block;

    position: relative;
    background-color: var(--gray-50);
    font-size: 0px;

    object-fit: cover;

    width: 107px;
    height: 107px;
}

.SaveIcon {
    float: right;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.SaveIcon div {
    margin-left: 4px;
    margin-right: 4px;
    position: relative !important;

    float: right;
    text-align: center;
    cursor: pointer;
}

.SaveIcon svg {
    color: var(--gray-700);

    width: 24px !important;
    height: 24px !important;
}

.RestaurantTitle {
    display: inline;
    margin-bottom: 4px;

    -webkit-box-align: center;
    align-items: center;
}

.RestaurantTitle> :not(:last-child) {
    margin-right: 4px;
}

.RestaurantTitle a {
    position: relative;
}

.IsAds {
    display: inline;
    margin-right: 4px;
    color: var(--gray-700);
    vertical-align: middle;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.RestaurantName {
    vertical-align: middle;
    color: var(--gray-700);
    cursor: pointer;
    text-decoration: none;
}

.RestaurantName div {
    display: inline;
    line-height: 24px;
}

.RestaurantName div> :not(:last-child) {
    margin-right: 4px;
}

.RestaurantName>* {
    vertical-align: baseline;
    line-height: 20px;
}

.RestaurantName h5 {
    font-weight: bold;
    font-size: 18px;
    color: inherit;
    margin-bottom: 0px;
    display: inline !important;
}

.RestaurantName span {
    font-family: "DB Heavent Now", sans-serif;
    color: var(--gray-500);
    display: inline-block;
    white-space: pre;

    font-weight: normal;
    font-size: 16px;
}

.AdsText {
    position: relative;

    width: fit-content;
    display: flex;
    margin-bottom: 4px;

    color: var(--blue-600);

    cursor: pointer;

    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.Restaurant-Review {
    width: fit-content;

    display: flex;
    flex-flow: wrap;
    margin-right: -8px;
    margin-bottom: -8px;
    -webkit-box-align: center;
    align-items: center;
}

.Restaurant-Review>* {
    margin-right: 8px;
    margin-bottom: 8px;
}

.ReviewContainer {
    display: flex;
    flex-flow: wrap;
    margin-right: -8px;
    margin-bottom: -8px;
    -webkit-box-align: center;
    align-items: center;

}

.ReviewContainer>* {
    margin-right: 8px;
    margin-bottom: 8px;
}


.StarBlock {
    margin-right: 8px;
    margin-bottom: 8px;

    font-size: 14px;

    display: inline-flex;
}

.StarBG {
    font-weight: 500;
    line-height: 14px;
    min-height: 18px;
    border-radius: 6px;
    padding: 0px 4px;
    font-family: "DB Heavent Now", sans-serif;
    color: var(--gray-white);
    display: inline-flex;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

}

.StarBG> :not(:last-child) {
    margin-right: 2px;
}

.StarIcon {
    text-size-adjust: none;
    display: inline-flex;
    pointer-events: none;
}

.StarIcon svg {
    width: 12px !important;
    height: 12px !important;
    overflow: hidden;
}

.Orange {
    background: rgb(249, 87, 0);
    border: 1px solid rgb(249, 87, 0);
}

.Red {
    background: rgb(205, 18, 1);
    border: 1px solid rgb(205, 18, 1);
}

.DeepRed {
    background: rgb(136, 11, 11);
    border: 1px solid rgb(136, 11, 11);
}

.ReviewCount {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: var(--blue-600);
    text-decoration: none;
}

.ReviewCount span {
    color: var(--gray-500);
    text-size-adjust: none;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.PriceLevel {
    color: var(--gray-500);
    text-size-adjust: none;

    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

}

.Status {
    text-size-adjust: none;
    vertical-align: bottom;

    font-family: "DB Heavent Now", sans-serif;
    display: inline-block;
    line-height: 16px;
    font-weight: bold;
    font-size: 16px;
}

.OpenGreen {
    color: var(--green-600);
}

.CloseRed {
    color: var(--red-600);
}

.SoonOrange {
    color: var(--yellow-700);
}

.TagContainer {
    width: fit-content;
}

.TagContainer span {
    color: var(--gray-500);
}

.TagContainer a {
    position: relative;
    display: inline-block;
    color: var(--gray-500);
    text-decoration: none;
}

.DeliveryOptionsContainer {
    display: flex;
    flex-direction: column;

    margin-top: 12px !important;
}

.DeliveryOptionsContainer > a:not(:last-child) {
    margin-bottom: 8px;
}

.DeliveryOptionsContainer a {
    position: relative;
}

.DeliveryOptionBlock {
    color: currentcolor;
    text-decoration: none;
}

.DeliveryOptionBG {
    border-radius: 8px;
    background-color: var(--gray-25);

    display: flex;

    padding-left: 12px !important;
    padding-right: 12px !important;

    font-family: "DB Heavent Now", sans-serif;
}

.DeliveryOptionContent {
    flex: 1 1 0%;

    display: flex;
    flex-direction: row;

    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.DeliveryOptionContent> :not(:last-child) {
    margin-right: 12px;
}

.DeliveryOptionIcon {
    display: flex;
    flex-direction: column;
}

.DeliveryOptionIcon div {
    margin-top: 2px;
    display: flex;
}

.DeliveryOptionIcon img {
    vertical-align: middle;
    border: 0;

    width: 40px;
    height: 40px;
    aspect-ratio: auto 40 / 40;

    overflow-clip-margin: content-box;
    overflow: clip;
}

.DeliveryOptionTextBlock {
    flex: 1 1 0%;
    padding-right: 4px;

    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.DeliveryOptionTextBlock>div {
    display: grid;
    grid-template-columns: fit-content(24px) 1fr;
    gap: 4px;
    -webkit-box-align: baseline;
    align-items: baseline;
}

.DeliveryOptionTitle {
    color: var(--gray-700);
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.DeliveryOptionText {
    min-width: 0px;
    display: flex;
}

.DeliveryOptionText span {
    color: var(--gray-500);
    flex: 1 1 0%;

    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.DeliveryOptionText div {
    white-space: nowrap;
    text-align: right;
    min-width: 2ch;

    margin-left: 12px !important;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.OrderButton {
    min-width: 72px;
    align-self: center;

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s cubic-bezier(0.22, 1.19, 0.22, 0.95);
    -webkit-tap-highlight-color: transparent;
    width: fit-content;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 12px;
    height: 28px;
    background-color: var(--primary-100);
    color: var(--primary-600);

    margin-left: 12px !important;
}

.Nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 8px auto;
    max-width: 480px;
}

.FooterNav button {
    word-break: initial;
    font-family: "DB Heavent Now", sans-serif;
    font-size: 14px;
    height: 32px;
    width: auto;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 0px 8px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: var(--blue-500);
    background: transparent;
    border-color: transparent;
}

.FooterNav .DisabledNav {
    cursor: default;
    color: var(--gray-700);
}

.FooterSearch {
    text-align: center;
}

.FooterSearch button {
    display: flex;
    padding: 8px;
    width: 100%;
    height: 100%;

    word-break: initial;
    font-family: "DB Heavent Now", sans-serif;
    font-size: 14px;

    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: var(--gray-white);
    background: var(--blue-500);
    border-color: var(--blue-500);

    line-height: inherit;
}

.PlusSign{
    flex: 0 0 0px;
    padding-right: 8px;
}

.FooterSearchText{
    flex: 1 0 0px;
}

.FooterSearchTextTop{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.FooterSearchTextBottom{
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}