#root {
  margin: 0 auto;
  text-align: center;
}

.Content {
    position: relative;
    width: 100%;
    padding: 1px 8px 8px;
    margin-top: -1px;
    padding: 0;
}

.Body{
  background-color: var(--gray-50);
  position: relative;
  background-image: none;
}