:root{
    --gray-white: var(--light-gray-white);
    --gray-25: var(--light-gray-25);
    --gray-50: var(--light-gray-50);
    --gray-75: var(--light-gray-75);
    --gray-100: var(--light-gray-100);
    --gray-150: var(--light-gray-150);
    --gray-250: var(--light-gray-250);
    --gray-300: var(--light-gray-300);
    --gray-400: var(--light-gray-400);
    --gray-500: var(--light-gray-500);
    --gray-550: var(--light-gray-550);
    --gray-650: var(--light-gray-650);
    --gray-700: var(--light-gray-700);
    --gray-800: var(--light-gray-800);
    --gray-850: var(--light-gray-850);
    --gray-900: var(--light-gray-900);
    --blue-10: var(--light-blue-10);
    --blue-100: var(--light-blue-100);
    --blue-200: var(--light-blue-200);
    --blue-300: var(--light-blue-300);
    --blue-400: var(--light-blue-400);
    --blue-500: var(--light-blue-500);
    --blue-600: var(--light-blue-600);
    --blue-700: var(--light-blue-700);
    --blue-800: var(--light-blue-800);
    --blue-900: var(--light-blue-900);
    --green-10: var(--light-green-10);
    --green-100: var(--light-green-100);
    --green-200: var(--light-green-200);
    --green-300: var(--light-green-300);
    --green-400: var(--light-green-400);
    --green-500: var(--light-green-500);
    --green-600: var(--light-green-600);
    --green-700: var(--light-green-700);
    --green-800: var(--light-green-800);
    --green-900: var(--light-green-900);
    --orange-10: var(--light-orange-10);
    --orange-100: var(--light-orange-100);
    --orange-200: var(--light-orange-200);
    --orange-300: var(--light-orange-300);
    --orange-400: var(--light-orange-400);
    --orange-500: var(--light-orange-500);
    --orange-600: var(--light-orange-600);
    --orange-700: var(--light-orange-700);
    --orange-800: var(--light-orange-800);
    --orange-900: var(--light-orange-900);
    --red-10: var(--light-red-10);
    --red-100: var(--light-red-100);
    --red-200: var(--light-red-200);
    --red-300: var(--light-red-300);
    --red-400: var(--light-red-400);
    --red-500: var(--light-red-500);
    --red-600: var(--light-red-600);
    --red-700: var(--light-red-700);
    --red-800: var(--light-red-800);
    --red-900: var(--light-red-900);
    --yellow-10: var(--light-yellow-10);
    --yellow-100: var(--light-yellow-100);
    --yellow-200: var(--light-yellow-200);
    --yellow-300: var(--light-yellow-300);
    --yellow-400: var(--light-yellow-400);
    --yellow-500: var(--light-yellow-500);
    --yellow-600: var(--light-yellow-600);
    --yellow-700: var(--light-yellow-700);
    --yellow-800: var(--light-yellow-800);
    --yellow-900: var(--light-yellow-900);
    --pink-10: var(--light-pink-10);
    --pink-100: var(--light-pink-100);
    --pink-200: var(--light-pink-200);
    --pink-300: var(--light-pink-300);
    --pink-400: var(--light-pink-400);
    --pink-500: var(--light-pink-500);
    --pink-600: var(--light-pink-600);
    --pink-700: var(--light-pink-700);
    --pink-800: var(--light-pink-800);
    --pink-900: var(--light-pink-900);
    --cyan-10: var(--light-cyan-10);
    --cyan-100: var(--light-cyan-100);
    --cyan-200: var(--light-cyan-200);
    --cyan-300: var(--light-cyan-300);
    --cyan-400: var(--light-cyan-400);
    --cyan-500: var(--light-cyan-500);
    --cyan-600: var(--light-cyan-600);
    --cyan-700: var(--light-cyan-700);
    --cyan-800: var(--light-cyan-800);
    --cyan-900: var(--light-cyan-900);
    --brick-10: var(--light-brick-10);
    --brick-100: var(--light-brick-100);
    --brick-200: var(--light-brick-200);
    --brick-300: var(--light-brick-300);
    --brick-400: var(--light-brick-400);
    --brick-500: var(--light-brick-500);
    --brick-600: var(--light-brick-600);
    --brick-700: var(--light-brick-700);
    --brick-800: var(--light-brick-800);
    --brick-900: var(--light-brick-900);
    --teal-10: var(--light-teal-10);
    --teal-100: var(--light-teal-100);
    --teal-200: var(--light-teal-200);
    --teal-300: var(--light-teal-300);
    --teal-400: var(--light-teal-400);
    --teal-500: var(--light-teal-500);
    --teal-600: var(--light-teal-600);
    --teal-700: var(--light-teal-700);
    --teal-800: var(--light-teal-800);
    --teal-900: var(--light-teal-900);
    --primary-10: var(--blue-10);
    --primary-100: var(--blue-100);
    --primary-200: var(--blue-200);
    --primary-300: var(--blue-300);
    --primary-400: var(--blue-400);
    --primary-500: var(--blue-500);
    --primary-600: var(--blue-600);
    --primary-700: var(--blue-700);
    --primary-800: var(--blue-800);
    --primary-900: var(--blue-900);
}

@media (prefers-color-scheme: dark) {
    :root {
        --light-blue-10: #f2fbff;
        --light-blue-100: #d8f0fd;
        --light-blue-200: #bee6fa;
        --light-blue-300: #8cd1f6;
        --light-blue-400: #5cbcf1;
        --light-blue-500: #2da8ed;
        --light-blue-600: #0093e8;
        --light-blue-700: #0070a8;
        --light-blue-800: #005b89;
        --light-blue-900: #002a40;
        --dark-blue-100: #d8f0fd;
        --dark-blue-200: #bee6fa;
        --dark-blue-300: #8cd1f6;
        --dark-blue-400: #5cbcf1;
        --dark-blue-500: #2da8ed;
        --dark-blue-600: #0093e8;
        --dark-blue-700: #205d80;
        --dark-blue-800: #2d4959;
        --dark-blue-900: #32414a;
        --dark-blue-990: #20292e;
        --light-gray-25: #f4f6f7;
        --light-gray-50: #edf0f2;
        --light-gray-75: #e9ecee;
        --light-gray-100: #dee2e4;
        --light-gray-150: #c9ced0;
        --light-gray-250: #b4babd;
        --light-gray-300: #a0a6a9;
        --light-gray-400: #8c9396;
        --light-gray-500: #787f83;
        --light-gray-550: #656c6f;
        --light-gray-650: #53595c;
        --light-gray-700: #3d4245;
        --light-gray-800: #2e3335;
        --light-gray-850: #282d2e;
        --light-gray-900: #1d2021;
        --light-gray-white: #ffffff;
        --dark-gray-25: #f4f6f7;
        --dark-gray-50: #e9ecee;
        --dark-gray-100: #dee2e4;
        --dark-gray-150: #c9ced0;
        --dark-gray-250: #b4babd;
        --dark-gray-300: #a0a6a9;
        --dark-gray-400: #8c9396;
        --dark-gray-500: #787f83;
        --dark-gray-550: #656c6f;
        --dark-gray-650: #53595c;
        --dark-gray-700: #3d4245;
        --dark-gray-800: #2e3335;
        --dark-gray-850: #282d2e;
        --dark-gray-900: #1d2021;
        --dark-gray-950: #131414;
        --dark-gray-white: #ffffff;
        --light-green-10: #f0fff7;
        --light-green-100: #c9f5dd;
        --light-green-200: #a4ebc4;
        --light-green-300: #69d89b;
        --light-green-400: #35c676;
        --light-green-500: #0ab356;
        --light-green-600: #00a838;
        --light-green-700: #008e33;
        --light-green-800: #00742c;
        --light-green-900: #00401c;
        --dark-green-100: #c9f5dd;
        --dark-green-200: #a4ebc4;
        --dark-green-300: #69d89b;
        --dark-green-400: #35c676;
        --dark-green-500: #0ab356;
        --dark-green-600: #00a838;
        --dark-green-700: #228041;
        --dark-green-800: #30593e;
        --dark-green-900: #2a3c30;
        --dark-green-990: #1e2922;
        --light-orange-10: #fff4f0;
        --light-orange-100: #fee4db;
        --light-orange-200: #fdd5c6;
        --light-orange-300: #fbb69e;
        --light-orange-400: #f89876;
        --light-orange-500: #f67b4f;
        --light-orange-600: #f45e28;
        --light-orange-700: #c74718;
        --light-orange-800: #9a330d;
        --light-orange-900: #401200;
        --dark-orange-100: #fff4f0;
        --dark-orange-200: #fee4db;
        --dark-orange-300: #fdd5c6;
        --dark-orange-400: #fbb69e;
        --dark-orange-500: #f89876;
        --dark-orange-600: #f45e28;
        --dark-orange-700: #8c4a32;
        --dark-orange-800: #664438;
        --dark-orange-900: #4a3832;
        --dark-orange-990: #2b221e;
        --light-red-10: #fff1f0;
        --light-red-100: #ffdcd8;
        --light-red-200: #ffc7c0;
        --light-red-300: #ff9d90;
        --light-red-400: #ff7260;
        --light-red-500: #ff4831;
        --light-red-600: #ff1d00;
        --light-red-700: #cf1400;
        --light-red-800: #9f0d00;
        --light-red-900: #400400;
        --dark-red-100: #ffdcd8;
        --dark-red-200: #ffc7c0;
        --dark-red-300: #ff9d90;
        --dark-red-400: #ff7260;
        --dark-red-500: #ff4831;
        --dark-red-600: #ff1d00;
        --dark-red-700: #802b20;
        --dark-red-800: #59322d;
        --dark-red-900: #473230;
        --dark-red-990: #2e2220;
        --light-yellow-10: #fffaed;
        --light-yellow-100: #fef1d4;
        --light-yellow-200: #fce8bc;
        --light-yellow-300: #fad88b;
        --light-yellow-400: #f7c85c;
        --light-yellow-500: #f5b92d;
        --light-yellow-600: #f2aa00;
        --light-yellow-700: #cc8a00;
        --light-yellow-800: #a76b00;
        --light-yellow-900: #5c3600;
        --dark-yellow-100: #fef1d4;
        --dark-yellow-200: #fce8bc;
        --dark-yellow-300: #fad88b;
        --dark-yellow-400: #f7c85c;
        --dark-yellow-500: #f5b92d;
        --dark-yellow-600: #f2aa00;
        --dark-yellow-700: #997829;
        --dark-yellow-800: #665737;
        --dark-yellow-900: #474132;
        --dark-yellow-990: #29261e;
        --light-teal-10: #f2fdff;
        --light-teal-100: #d5f4f9;
        --light-teal-200: #b9ebf4;
        --light-teal-300: #85dae9;
        --light-teal-400: #54c9dd;
        --light-teal-500: #28b9d2;
        --light-teal-600: #00aac7;
        --light-teal-700: #0c8ea4;
        --light-teal-800: #137181;
        --light-teal-900: #12343b;
        --dark-teal-100: #d5f4f9;
        --dark-teal-200: #b9ebf4;
        --dark-teal-300: #85dae9;
        --dark-teal-400: #54c9dd;
        --dark-teal-500: #28b9d2;
        --dark-teal-600: #00aac7;
        --dark-teal-700: #19616e;
        --dark-teal-800: #264f57;
        --dark-teal-900: #2e4447;
        --dark-teal-990: #1d2729;
        --light-brick-10: #fff3f2;
        --light-brick-100: #fadedb;
        --light-brick-200: #f4c9c5;
        --light-brick-300: #e9a19a;
        --light-brick-400: #de7c73;
        --light-brick-500: #d25a4f;
        --light-brick-600: #c73b2e;
        --light-brick-700: #aa3b2d;
        --light-brick-800: #862216;
        --light-brick-900: #400700;
        --dark-brick-100: #fadedb;
        --dark-brick-200: #f4c9c5;
        --dark-brick-300: #e9a19a;
        --dark-brick-400: #de7c73;
        --dark-brick-500: #d25a4f;
        --dark-brick-600: #c73b2e;
        --dark-brick-700: #7a2822;
        --dark-brick-800: #59302d;
        --dark-brick-900: #472f2e;
        --dark-brick-990: #30201f;
        --light-cyan-10: #f2fffc;
        --light-cyan-100: #d6f7ee;
        --light-cyan-200: #bbefe1;
        --light-cyan-300: #89dfc8;
        --light-cyan-400: #5cd0b1;
        --light-cyan-500: #34c09b;
        --light-cyan-600: #12b086;
        --light-cyan-700: #119270;
        --light-cyan-800: #10745a;
        --light-cyan-900: #0c3b2e;
        --dark-cyan-100: #d6f7ee;
        --dark-cyan-200: #bbefe1;
        --dark-cyan-300: #89dfc8;
        --dark-cyan-400: #5cd0b1;
        --dark-cyan-500: #34c09b;
        --dark-cyan-600: #12b086;
        --dark-cyan-700: #2dc29a;
        --dark-cyan-800: #74c2ad;
        --dark-cyan-900: #2d453e;
        --dark-cyan-990: #202e2a;
        --light-pink-10: #fff2f4;
        --light-pink-100: #ffe2e5;
        --light-pink-200: #fed2d7;
        --light-pink-300: #fdb3ba;
        --light-pink-400: #fc939e;
        --light-pink-500: #fb7482;
        --light-pink-600: #fa5567;
        --light-pink-700: #cb4352;
        --light-pink-800: #9d323d;
        --light-pink-900: #401318;
        --dark-pink-100: #ffe2e5;
        --dark-pink-200: #fed2d7;
        --dark-pink-300: #fdb3ba;
        --dark-pink-400: #fc939e;
        --dark-pink-500: #fb7482;
        --dark-pink-600: #fa5567;
        --dark-pink-700: #75242e;
        --dark-pink-800: #5e3136;
        --dark-pink-900: #4a3436;
        --dark-pink-990: #2e2123;
    }
}

:root {
    --light-blue-10: #f2fbff;
    --light-blue-100: #d8f0fd;
    --light-blue-200: #bee6fa;
    --light-blue-300: #8cd1f6;
    --light-blue-400: #5cbcf1;
    --light-blue-500: #2da8ed;
    --light-blue-600: #0093e8;
    --light-blue-700: #0070a8;
    --light-blue-800: #005b89;
    --light-blue-900: #002a40;
    --dark-blue-100: #d8f0fd;
    --dark-blue-200: #bee6fa;
    --dark-blue-300: #8cd1f6;
    --dark-blue-400: #5cbcf1;
    --dark-blue-500: #2da8ed;
    --dark-blue-600: #0093e8;
    --dark-blue-700: #205d80;
    --dark-blue-800: #2d4959;
    --dark-blue-900: #32414a;
    --dark-blue-990: #20292e;
    --light-gray-25: #f4f6f7;
    --light-gray-50: #edf0f2;
    --light-gray-75: #e9ecee;
    --light-gray-100: #dee2e4;
    --light-gray-150: #c9ced0;
    --light-gray-250: #b4babd;
    --light-gray-300: #a0a6a9;
    --light-gray-400: #8c9396;
    --light-gray-500: #787f83;
    --light-gray-550: #656c6f;
    --light-gray-650: #53595c;
    --light-gray-700: #3d4245;
    --light-gray-800: #2e3335;
    --light-gray-850: #282d2e;
    --light-gray-900: #1d2021;
    --light-gray-white: #ffffff;
    --dark-gray-25: #f4f6f7;
    --dark-gray-50: #e9ecee;
    --dark-gray-100: #dee2e4;
    --dark-gray-150: #c9ced0;
    --dark-gray-250: #b4babd;
    --dark-gray-300: #a0a6a9;
    --dark-gray-400: #8c9396;
    --dark-gray-500: #787f83;
    --dark-gray-550: #656c6f;
    --dark-gray-650: #53595c;
    --dark-gray-700: #3d4245;
    --dark-gray-800: #2e3335;
    --dark-gray-850: #282d2e;
    --dark-gray-900: #1d2021;
    --dark-gray-950: #131414;
    --dark-gray-white: #ffffff;
    --light-green-10: #f0fff7;
    --light-green-100: #c9f5dd;
    --light-green-200: #a4ebc4;
    --light-green-300: #69d89b;
    --light-green-400: #35c676;
    --light-green-500: #0ab356;
    --light-green-600: #00a838;
    --light-green-700: #008e33;
    --light-green-800: #00742c;
    --light-green-900: #00401c;
    --dark-green-100: #c9f5dd;
    --dark-green-200: #a4ebc4;
    --dark-green-300: #69d89b;
    --dark-green-400: #35c676;
    --dark-green-500: #0ab356;
    --dark-green-600: #00a838;
    --dark-green-700: #228041;
    --dark-green-800: #30593e;
    --dark-green-900: #2a3c30;
    --dark-green-990: #1e2922;
    --light-orange-10: #fff4f0;
    --light-orange-100: #fee4db;
    --light-orange-200: #fdd5c6;
    --light-orange-300: #fbb69e;
    --light-orange-400: #f89876;
    --light-orange-500: #f67b4f;
    --light-orange-600: #f45e28;
    --light-orange-700: #c74718;
    --light-orange-800: #9a330d;
    --light-orange-900: #401200;
    --dark-orange-100: #fff4f0;
    --dark-orange-200: #fee4db;
    --dark-orange-300: #fdd5c6;
    --dark-orange-400: #fbb69e;
    --dark-orange-500: #f89876;
    --dark-orange-600: #f45e28;
    --dark-orange-700: #8c4a32;
    --dark-orange-800: #664438;
    --dark-orange-900: #4a3832;
    --dark-orange-990: #2b221e;
    --light-red-10: #fff1f0;
    --light-red-100: #ffdcd8;
    --light-red-200: #ffc7c0;
    --light-red-300: #ff9d90;
    --light-red-400: #ff7260;
    --light-red-500: #ff4831;
    --light-red-600: #ff1d00;
    --light-red-700: #cf1400;
    --light-red-800: #9f0d00;
    --light-red-900: #400400;
    --dark-red-100: #ffdcd8;
    --dark-red-200: #ffc7c0;
    --dark-red-300: #ff9d90;
    --dark-red-400: #ff7260;
    --dark-red-500: #ff4831;
    --dark-red-600: #ff1d00;
    --dark-red-700: #802b20;
    --dark-red-800: #59322d;
    --dark-red-900: #473230;
    --dark-red-990: #2e2220;
    --light-yellow-10: #fffaed;
    --light-yellow-100: #fef1d4;
    --light-yellow-200: #fce8bc;
    --light-yellow-300: #fad88b;
    --light-yellow-400: #f7c85c;
    --light-yellow-500: #f5b92d;
    --light-yellow-600: #f2aa00;
    --light-yellow-700: #cc8a00;
    --light-yellow-800: #a76b00;
    --light-yellow-900: #5c3600;
    --dark-yellow-100: #fef1d4;
    --dark-yellow-200: #fce8bc;
    --dark-yellow-300: #fad88b;
    --dark-yellow-400: #f7c85c;
    --dark-yellow-500: #f5b92d;
    --dark-yellow-600: #f2aa00;
    --dark-yellow-700: #997829;
    --dark-yellow-800: #665737;
    --dark-yellow-900: #474132;
    --dark-yellow-990: #29261e;
    --light-teal-10: #f2fdff;
    --light-teal-100: #d5f4f9;
    --light-teal-200: #b9ebf4;
    --light-teal-300: #85dae9;
    --light-teal-400: #54c9dd;
    --light-teal-500: #28b9d2;
    --light-teal-600: #00aac7;
    --light-teal-700: #0c8ea4;
    --light-teal-800: #137181;
    --light-teal-900: #12343b;
    --dark-teal-100: #d5f4f9;
    --dark-teal-200: #b9ebf4;
    --dark-teal-300: #85dae9;
    --dark-teal-400: #54c9dd;
    --dark-teal-500: #28b9d2;
    --dark-teal-600: #00aac7;
    --dark-teal-700: #19616e;
    --dark-teal-800: #264f57;
    --dark-teal-900: #2e4447;
    --dark-teal-990: #1d2729;
    --light-brick-10: #fff3f2;
    --light-brick-100: #fadedb;
    --light-brick-200: #f4c9c5;
    --light-brick-300: #e9a19a;
    --light-brick-400: #de7c73;
    --light-brick-500: #d25a4f;
    --light-brick-600: #c73b2e;
    --light-brick-700: #aa3b2d;
    --light-brick-800: #862216;
    --light-brick-900: #400700;
    --dark-brick-100: #fadedb;
    --dark-brick-200: #f4c9c5;
    --dark-brick-300: #e9a19a;
    --dark-brick-400: #de7c73;
    --dark-brick-500: #d25a4f;
    --dark-brick-600: #c73b2e;
    --dark-brick-700: #7a2822;
    --dark-brick-800: #59302d;
    --dark-brick-900: #472f2e;
    --dark-brick-990: #30201f;
    --light-cyan-10: #f2fffc;
    --light-cyan-100: #d6f7ee;
    --light-cyan-200: #bbefe1;
    --light-cyan-300: #89dfc8;
    --light-cyan-400: #5cd0b1;
    --light-cyan-500: #34c09b;
    --light-cyan-600: #12b086;
    --light-cyan-700: #119270;
    --light-cyan-800: #10745a;
    --light-cyan-900: #0c3b2e;
    --dark-cyan-100: #d6f7ee;
    --dark-cyan-200: #bbefe1;
    --dark-cyan-300: #89dfc8;
    --dark-cyan-400: #5cd0b1;
    --dark-cyan-500: #34c09b;
    --dark-cyan-600: #12b086;
    --dark-cyan-700: #2dc29a;
    --dark-cyan-800: #74c2ad;
    --dark-cyan-900: #2d453e;
    --dark-cyan-990: #202e2a;
    --light-pink-10: #fff2f4;
    --light-pink-100: #ffe2e5;
    --light-pink-200: #fed2d7;
    --light-pink-300: #fdb3ba;
    --light-pink-400: #fc939e;
    --light-pink-500: #fb7482;
    --light-pink-600: #fa5567;
    --light-pink-700: #cb4352;
    --light-pink-800: #9d323d;
    --light-pink-900: #401318;
    --dark-pink-100: #ffe2e5;
    --dark-pink-200: #fed2d7;
    --dark-pink-300: #fdb3ba;
    --dark-pink-400: #fc939e;
    --dark-pink-500: #fb7482;
    --dark-pink-600: #fa5567;
    --dark-pink-700: #75242e;
    --dark-pink-800: #5e3136;
    --dark-pink-900: #4a3436;
    --dark-pink-990: #2e2123;
}
